<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>{% block title %}My Todo{% endblock %}</title>
</head>
<body>
  <nav>
    <a href="{% url 'todo:todo_list' %}">목록</a>
    {% if user.is_authenticated %}
      <span>{{ user.username }}</span>
      <a href="{% url 'logout' %}">로그아웃</a>
    {% else %}
      <a href="{% url 'login' %}">로그인</a>
      <a href="{% url 'signup' %}">회원가입</a>
    {% endif %}
    <a href="{% url 'todo:todo_create' %}">추가</a>
  </nav>
  <hr>
  {% block content %}{% endblock %}
</body>
</html>